sata1.vdi
sata2.vdi
sata3.vdi
sata4.vdi
.vagrant/machines/raids/virtualbox/action_provision
.vagrant/machines/raids/virtualbox/action_set_name
.vagrant/machines/raids/virtualbox/box_meta
.vagrant/machines/raids/virtualbox/creator_uid
.vagrant/machines/raids/virtualbox/id
.vagrant/machines/raids/virtualbox/index_uuid
.vagrant/machines/raids/virtualbox/private_key
.vagrant/machines/raids/virtualbox/synced_folders
.vagrant/machines/raids/virtualbox/vagrant_cwd
.vagrant/rgloader/loader.rb
.vscode/settings.json
2024-02-19-15-53-36.067-VBoxSVC-12539.log
2024-02-19-15-53-37.026-VBoxHeadless-13164.log
.gitignore
2024-02-20-06-07-05.097-VBoxSVC-5785.log
2024-02-20-06-07-07.067-VBoxHeadless-6290.log
2024-02-22-14-13-54.096-VBoxHeadless-7483.log
2024-02-22-14-13-54.060-VBoxSVC-6991.log
.vagrant/provisioners/ansible/inventory/vagrant_ansible_inventory
